body {
  background: gray;
}

.fa-dumbbell {
  font-size: 75px;
  color: darkblue;
}

img {
  height: 200px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: 4px double darkblue;
  border-top: 4px double darkblue;

}

h1 {
  color: white;
  display: flex;
  align-items: baseline;
  padding: 3px;
}

h3 {
  color: lightgray;
  margin-bottom: 20px;
  text-align: left;
  font-size: 30px;
}

/* Log out button */
.btn-sm {
  border-radius: 7px;
  height: auto;
  background: black;
  color: white;
}

.blue {
  color: rgb(33, 33, 230);
}

.well {
  display: none;
}

.col-sm-6 {
  width: 70%;
  margin-left: 320px;
}

.col-sm-6 h3, h2 {
  font-size: 30px;
  color: black;
  font-family: 'Tiro Devanagari Marathi', serif;
}

.form input {
  height: 30px;
  border-radius: 20px;
}

.form button {
  background-color: black;
  color: white;
    width: 40%;
  border-radius: 20px;
}

.form button:hover {
  background-color: white;
  color: black;
    width: 40%;
  border-radius: 20px;
}

.form {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.page-headertext-center a {
  background-color: greenyellow;
  color: black;
  width: 15%;
  border-radius: 20px;
}

.workoutLogList {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  text-align: left;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}


legend {
  width: 100%;
}

.workoutDetails {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.workoutType {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formRadioButtons {
  display: flex;
  flex-direction: row;
}

/* Workout log area */

.areaSorting {
  display: flex;
  flex-direction: column;
}

.areaOne, .areaTwo {
  display: flex;
  flex-direction: row;
}

.legs, .core, .back, .chest, .shoulders, .arms {
  border-bottom: 3px solid darkblue;
  padding: 15px;
  margin: 10px;
}

li {
  border-top: 2px solid darkblue;
  /* border-bottom: 2px solid darkblue; */
  margin: 3px;
}
